<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shriganesh</title>
</head>
<body bgcolor="cyan">
    {% include 'navbar.html' %}
    {% block content %}

    <h1>Things we write here dont appear on the website , : he he .</h1>
    <h1> kaise ho bhai</h1>
    <h1> kaise ho bhai</h1>
    <h1> kaise ho bhai</h1>
    {% endblock %}
</body>
</html>